/* define primary colors */
$primary-color:red;
$secondary-color:yellow;

/* use the variables */
.main-header {
  background-color: $primary_1; // here you can put an inline comment
}
h1 {
    font-size: 2rem;
}

main {
    padding: 20px;
}

p {
    color:$secondary-color
    font-size 1.2em;
}

@media(max-width: 600px) {
    .contanier {
        flex-direction: column;
    }
    
}