/*style jumbotron*/
.jumbotron {
    background-color:#f3d7ca;
    background-size:cover;
    color:#b21343 ;
    text-align: center;
    padding: 200px 0%;
    
    
}
.navbar{
    background-color:#f3d7ca;
}

.navbar-brand{
    color:#fff;

}

.navbar- nav .nav-link {
    color:#fff !important;

}

.container{
    padding: 50px 0;
    
}

.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
